.mylabel {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
}

.msg-err {
    font-size: 0.8em;
    color: darkred;
    font-weight: bold;
    margin-left: 105px;
}

.popup {
 background-color: floralwhite;
}

.popup p {
    font-size: 1.2em;
    text-align: center;
}

.popup p.aviso {
    color: green;
}

.popup p.aviso {
    color: darkred;
}
.btn {
    font-size: 0.8em;
    font-weight: bold;
    color: darkred;
}