{% extends 'base.html' %}

{% block titulo %}Borrar{% endblock %}

{% block contenido %}
<h1> Borrar movimientos  </h1>
<div class='card'>
    <form action="/borrar/{{movimiento.id}}" method="POST">
        <div>
            <label for = 'fecha'>Fecha</label>
            <input disabled type = 'text' name = 'fecha' value = '{{ movimiento.fecha }}'>
        </div>
        <div>
            <label for = 'concepto'>Concepto</label>
            <input disabled type = 'text' name = 'concepto' value = '{{ movimiento.concepto }}'>
        </div>
        <div >
            <label for = 'categoria'>Categoria</label>
            <input disabled type = 'text' name = 'categoria' value = '{{ movimiento.categoria }}'>
        </div>
        <div >
            <label for = 'cantidad'>Fecha</label>
            <input disabled type = 'text' name = 'cantidad' value = '{{ movimiento.cantidad }}'>
        </div>
        <div >
            <label for = 'esGasto'>Fecha</label>
            <input disabled type = 'checkbox' name = 'esGasto' {% if movimiento.esGasto != 0 %} checked {% endif %}>
        </div>
        
        <input type='submit' value="Aceptar">
        <a href='/'>Cancelar</a>
    </form>
</div>

{% endblock %}