{% extends 'base.html' %}

{% block titulo%}Inicio{%  endblock %}

{% block contenido %}
    <h1>Listado de movimientos <a href="/nuevo">Crear movimiento</a> </h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Categoría</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Saldo</th>
            <th></th>
        </tr>
        {% for movimiento in datos %}
        <tr>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.concepto }}</td>
            <td>{{ movimiento.categoria }}</td>
            <td> {% if movimiento.esGasto == 0 %}
                    Ingreso
                    {% else %}
                    Gasto
                {% endif %}
            </td>
            <td>{{ movimiento.cantidad }} €</td>
            <td>{{ movimiento.saldo }} €</td>
            <td class="btn">
                <a href="/borrar/{{ movimiento.id }}">Borrar</a> |
                <a href="/modificar/{{ movimiento.id }}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action='/' method = 'post'>
        <fieldset class = 'container'>
            {{ form.hidden_tag() }}
            <div>
                {{form.fechaDesde.label(class='mylabel')}}
                {{form.fechaDesde(type='date')}}
                {% for error in form.fechaDesde.errors %}
                <p class = 'msg-err'>
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div>
                {{form.fechaHasta.label(class='mylabel')}}
                {{form.fechaHasta(type='date')}}
                {% for error in form.fechaDesde.errors %}
                <p class = 'msg-err'>
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div>
                {{ form.texto.label(class='mylabel') }}
                {{ form.texto() }}
            </div>
        </fieldset>
        {{ form.submit }}
        <a href='/'>Reset</a>
    </form>
{% endblock %}
