<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        kakebo Web - BZ VII
    </header>
    <section>
        <h1>Listado de movimientos <a href="/nuevo">Crear movimientos</a></h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Categoría</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Saldo</th>
            </tr>
            {% for movimiento in datos %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.concepto }}</td>
                <td>{{ movimiento.categoria }}</td>
                <td> {% if movimiento.esGasto == 0 %}
                        Ingreso
                     {% else %}
                        Gasto
                     {% endif %}
                </td>
                <td>{{ movimiento.cantidad }} €</td>
                <td>{{ movimiento.saldo }} €</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <footer>
        &copy; Todos los derechos reservados 2021
    </footer>
    
</body>
</html>